openapi: "3.0.0"
info:
  version: 1.0.0
  title: Clients Management API
  description: >
    Create, list, update, and delete Mythic Analytics client tenants, manage
    tags and snippets, and retrieve loader embed code.
servers:
  - url: https://api.mythic-analytics.com/api/v1
security:
  - BearerAuth: []
  - AdminKeyQuery: []
paths:
  /clients:
    post:
      summary: Create client
      operationId: createClient
      description: >
        Create a new client tenant. The API auto-generates `publishable_key`
        and `secret_key` credentials. Returns `409 Conflict` if a client with
        the same `id` already exists.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientRequest"
      responses:
        "201":
          description: Client created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
        "400":
          description: Invalid JSON, missing required fields, or validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflict — duplicate id, global_name, or domain
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: List clients
      operationId: listClients
      description: Retrieve a paginated list of clients with optional filtering.
      parameters:
        - name: status
          in: query
          description: Filter by active status. Pass `true` or `false`.
          required: false
          schema:
            type: string
            enum: ["true", "false"]
        - name: company_id
          in: query
          description: Filter by company identifier.
          required: false
          schema:
            type: string
        - name: search
          in: query
          description: Case-insensitive substring match on client name.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum results per page. Default `50`, max `500`.
          required: false
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: offset
          in: query
          description: Number of results to skip. Default `0`.
          required: false
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Paginated list of clients
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientListResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /clients/{id}:
    get:
      summary: Retrieve client
      operationId: getClient
      description: >
        Fetch a single client with its related tags, snippets, and transformers.
        Returns `404` if the client does not exist.
      parameters:
        - $ref: "#/components/parameters/ClientId"
      responses:
        "200":
          description: Client with related tags, snippets, and transformers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientDetailResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Client not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Update client
      operationId: updateClient
      description: >
        Partially update client fields. Only include the fields you want to
        change. Returns `400` if no valid fields are provided or validation
        fails. Returns `404` if client not found.
      parameters:
        - $ref: "#/components/parameters/ClientId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientRequest"
      responses:
        "200":
          description: Client updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
        "400":
          description: Invalid JSON, missing required fields, or validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Client not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete client
      operationId: deleteClient
      description: >
        Soft-delete by default (sets `status` to `false`). Pass `?hard=true`
        to permanently remove the client from the database and KV store.
        **Hard delete is irreversible.**
      parameters:
        - $ref: "#/components/parameters/ClientId"
        - name: hard
          in: query
          description: Set to `true` for permanent deletion. Default is soft delete.
          required: false
          schema:
            type: string
            enum: ["true", "false"]
      responses:
        "200":
          description: Client deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Client not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /clients/{id}/tags:
    put:
      summary: Replace tags
      operationId: replaceTags
      description: >
        Replace the entire tag set for a client. Tags reference predefined tag
        templates (GA4, Hotjar, custom scripts, etc.) and can include per-client
        parameters and trigger rules. After updating, the API rebuilds the
        client's remote configuration in KV.
      parameters:
        - $ref: "#/components/parameters/ClientId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReplaceTagsRequest"
      responses:
        "200":
          description: Tags replaced successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagsResponse"
        "400":
          description: Invalid JSON or validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Client not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /clients/{id}/snippets:
    put:
      summary: Replace snippets
      operationId: replaceSnippets
      description: >
        Replace all custom code snippets for a client. Snippets are arbitrary
        HTML or JavaScript injected via remote configuration. After updating,
        the API rebuilds the client's remote configuration in KV.
      parameters:
        - $ref: "#/components/parameters/ClientId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReplaceSnippetsRequest"
      responses:
        "200":
          description: Snippets replaced successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SnippetsResponse"
        "400":
          description: Invalid JSON or validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Client not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /clients/{id}/loader:
    get:
      summary: Get loader snippets
      operationId: getLoader
      description: >
        Retrieve the loader configuration including the publishable key, embed
        URL, and ready-to-paste HTML snippets for embedding the SDK.
      parameters:
        - $ref: "#/components/parameters/ClientId"
      responses:
        "200":
          description: Loader configuration with embed snippets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoaderResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Client not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: "Admin API key as bearer token. Format: `Bearer YOUR_ADMIN_KEY`"
    AdminKeyQuery:
      type: apiKey
      in: query
      name: admin_key
      description: >
        Alternative to the Authorization header for server-to-server or tooling
        scenarios. Do not expose in client-side code.
  parameters:
    ClientId:
      name: id
      in: path
      required: true
      description: Client identifier. Must match `^[a-zA-Z0-9_-]{1,255}$`.
      schema:
        type: string
        pattern: "^[a-zA-Z0-9_-]{1,255}$"
  schemas:
    CreateClientRequest:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          pattern: "^[a-zA-Z0-9_-]{1,255}$"
          description: Unique client identifier. Alphanumeric, hyphens, underscores.
          example: acme-retail
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Human-readable client name.
          example: Acme Retail
        status:
          type: boolean
          default: true
          description: Whether the client is active.
        domain:
          type: string
          description: Primary domain for embedded widgets. Must be a valid domain format.
          example: acme-retail.com
        email:
          type: string
          format: email
          description: Contact email.
          example: ops@acme-retail.com
        phone:
          type: string
          description: Contact phone number.
          example: "+1-415-555-0198"
        website:
          type: string
          format: uri
          description: Public website URL.
          example: https://acme-retail.com
        timezone:
          type: string
          description: IANA timezone identifier.
          example: America/Los_Angeles
        global_name:
          type: string
          description: JavaScript identifier used for the SDK global variable. Must be a valid JS identifier.
          example: acmeRetail
        company_id:
          type: string
          description: Internal company or reseller identifier for grouping clients.
          example: cmp_7kH3nPqR
        agency_id:
          type: string
          description: Agency identifier for multi-tenant agency setups.
        api_metadata:
          type: object
          description: Arbitrary JSON metadata attached to the client.
          example:
            plan: enterprise
            region: us-west
        ghl_location_id:
          type: string
          description: External GoHighLevel location identifier for integrations.
        proxy_api_key:
          type: string
          description: Scoped API key for proxying traffic or third-party integrations.
    UpdateClientRequest:
      type: object
      description: Partial update — only include fields you want to change.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: New display name.
        status:
          type: boolean
          description: Set to `false` to disable the client.
        domain:
          type: string
          nullable: true
          description: Updated embed domain. Pass `null` or `""` to clear.
        email:
          type: string
          format: email
          nullable: true
          description: Updated contact email. Pass `null` or `""` to clear.
        phone:
          type: string
          nullable: true
          description: Updated phone number.
        website:
          type: string
          format: uri
          nullable: true
          description: Updated website URL.
        timezone:
          type: string
          description: Updated IANA timezone.
        global_name:
          type: string
          nullable: true
          description: Updated SDK global variable name. Must be a valid JS identifier.
        company_id:
          type: string
          nullable: true
          description: Updated company identifier.
        agency_id:
          type: string
          nullable: true
          description: Updated agency identifier.
        api_metadata:
          type: object
          nullable: true
          description: Replace the metadata object.
        ghl_location_id:
          type: string
          nullable: true
          description: Updated GoHighLevel location ID.
        proxy_api_key:
          type: string
          nullable: true
          description: Updated proxy API key.
    Client:
      type: object
      properties:
        id:
          type: string
          example: acme-retail
        name:
          type: string
          example: Acme Retail
        status:
          type: boolean
          example: true
        publishable_key:
          type: string
          description: Client-side safe key (starts with `pk_`).
          example: pk_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        secret_key:
          type: string
          description: Backend-only secret key (starts with `sk_`). Never expose client-side.
          example: sk_f6e5d4c3b2a1f6e5d4c3b2a1f6e5d4c3
        domain:
          type: string
          nullable: true
          example: acme-retail.com
        email:
          type: string
          nullable: true
          example: ops@acme-retail.com
        phone:
          type: string
          nullable: true
          example: "+1-415-555-0198"
        website:
          type: string
          nullable: true
          example: https://acme-retail.com
        timezone:
          type: string
          nullable: true
          example: America/Los_Angeles
        global_name:
          type: string
          nullable: true
          example: acmeRetail
        company_id:
          type: string
          nullable: true
          example: cmp_7kH3nPqR
        agency_id:
          type: string
          nullable: true
        api_metadata:
          type: object
          nullable: true
          example:
            plan: enterprise
            region: us-west
        ghl_location_id:
          type: string
          nullable: true
        proxy_api_key:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          example: "2024-03-21T18:42:15.291Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-03-21T18:42:15.291Z"
    ClientWithRelations:
      allOf:
        - $ref: "#/components/schemas/Client"
        - type: object
          properties:
            tags:
              type: array
              items:
                $ref: "#/components/schemas/TagAssignment"
            snippets:
              type: array
              items:
                $ref: "#/components/schemas/Snippet"
            transformers:
              type: array
              items:
                $ref: "#/components/schemas/Transformer"
    TagAssignment:
      type: object
      required:
        - tag_id
      properties:
        tag_id:
          type: string
          format: uuid
          description: UUID of the predefined tag template to assign.
          example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        enabled:
          type: boolean
          default: true
          description: Whether the tag is active.
        params:
          type: object
          default: {}
          description: Per-client parameters to pass to the tag template (e.g., measurement IDs).
          example:
            measurement_id: G-XXXXXXXXXX
        trigger_rules:
          type: object
          nullable: true
          description: Conditional rules controlling when the tag fires. Null means always fires.
          example:
            url_contains: /checkout
    TagAssignmentResponse:
      allOf:
        - $ref: "#/components/schemas/TagAssignment"
        - type: object
          properties:
            tags:
              type: object
              description: The resolved tag template details.
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                  example: Google Analytics 4
                type:
                  type: string
                  example: inline
                src:
                  type: string
                  nullable: true
                code:
                  type: string
                description:
                  type: string
                  example: GA4 measurement tag
    Snippet:
      type: object
      properties:
        id:
          type: string
          description: Auto-generated snippet ID (present in responses only).
          example: 9xP3qLmN-58cc-4372-a567-0e02b2c3d479
        code:
          type: string
          description: Raw HTML or JavaScript code to inject.
          example: '<script src="https://widgets.mythic-analytics.com/checkout.js"></script>'
        description:
          type: string
          nullable: true
          description: Human-readable description.
          example: Checkout widget
        enabled:
          type: boolean
          default: true
          description: Whether the snippet is active.
        trigger_rules:
          type: object
          nullable: true
          description: Conditional rules controlling when the snippet loads.
    SnippetInput:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          description: Raw HTML or JavaScript code to inject.
        description:
          type: string
          nullable: true
          description: Human-readable description.
        enabled:
          type: boolean
          default: true
          description: Whether the snippet is active.
        trigger_rules:
          type: object
          nullable: true
          description: Conditional rules controlling when the snippet loads.
    Transformer:
      type: object
      properties:
        id:
          type: string
          example: 5kN1bVdC-58cc-4372-a567-0e02b2c3d479
        name:
          type: string
          example: event-filter
        type:
          type: string
          example: map
        config:
          type: object
          example:
            from: old_event
            as: new_event
        priority:
          type: integer
          example: 50
        enabled:
          type: boolean
          example: true
    Loader:
      type: object
      properties:
        publishable_key:
          type: string
          description: Client-side safe key.
          example: pk_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        embed_url:
          type: string
          format: uri
          description: Direct URL for the loader.
          example: https://api.mythic-analytics.com/embed/loader/pk_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        iframe_snippet:
          type: string
          description: Ready-to-paste iframe HTML.
        script_snippet:
          type: string
          description: >
            Minified loader script that creates the SDK global, initializes it
            with the correct api_host, and loads the SDK from the CDN.
    ReplaceTagsRequest:
      type: object
      required:
        - tags
      properties:
        tags:
          type: array
          description: Array of tag assignment objects. Replaces all existing tags.
          items:
            $ref: "#/components/schemas/TagAssignment"
    ReplaceSnippetsRequest:
      type: object
      required:
        - snippets
      properties:
        snippets:
          type: array
          description: Array of snippet objects. Replaces all existing snippets.
          items:
            $ref: "#/components/schemas/SnippetInput"
    ClientResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: "#/components/schemas/Client"
    ClientDetailResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: "#/components/schemas/ClientWithRelations"
    ClientListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: "#/components/schemas/Client"
        count:
          type: integer
          description: Total number of matching resources.
          example: 2
    TagsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: "#/components/schemas/TagAssignment"
    SnippetsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: "#/components/schemas/Snippet"
    LoaderResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: "#/components/schemas/Loader"
    DeleteResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        deleted:
          type: boolean
          example: true
        hard:
          type: boolean
          description: "`true` if permanently deleted, `false` for soft delete."
          example: false
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        data:
          nullable: true
          example: null
        error:
          type: string
          description: Error message.
          example: Unauthorized
        count:
          type: integer
          example: 0
