openapi: "3.0.0"
info:
  version: 1.0.0
  title: Agencies
  description: Manage agencies and their locations in Mythic Analytics.
servers:
  - url: https://api.mythic-analytics.com/api/v1
security:
  - BearerAuth: []
  - AdminKeyQuery: []
paths:
  /agencies:
    post:
      summary: Create agency
      operationId: createAgency
      description: >
        Create a new agency. Agencies group multiple client tenants under a
        single management entity. Returns `409 Conflict` if an agency with the
        same name already exists.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgencyRequest"
      responses:
        "201":
          description: Agency created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgencyResponse"
        "400":
          description: Invalid JSON or validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Agency with the same name already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: List agencies
      operationId: listAgencies
      description: Retrieve a paginated list of agencies with optional filtering.
      parameters:
        - name: search
          in: query
          description: Case-insensitive substring match on agency name.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum results per page. Default `50`, max `500`.
          required: false
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: offset
          in: query
          description: Number of results to skip. Default `0`.
          required: false
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Paginated list of agencies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgencyListResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /agencies/{id}:
    get:
      summary: Retrieve agency
      operationId: getAgency
      description: Fetch a single agency by its ID, including associated locations.
      parameters:
        - $ref: "#/components/parameters/AgencyId"
      responses:
        "200":
          description: Agency with locations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgencyDetailResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Agency not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Update agency
      operationId: updateAgency
      description: Partially update agency fields. Only include the fields you want to change.
      parameters:
        - $ref: "#/components/parameters/AgencyId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAgencyRequest"
      responses:
        "200":
          description: Agency updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgencyResponse"
        "400":
          description: Invalid JSON or validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Agency not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete agency
      operationId: deleteAgency
      description: >
        Permanently delete an agency and disassociate all related client
        tenants. **This action is irreversible.**
      parameters:
        - $ref: "#/components/parameters/AgencyId"
      responses:
        "200":
          description: Agency deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Agency not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /agencies/{id}/locations:
    post:
      summary: Add location
      operationId: addAgencyLocation
      description: Add a GoHighLevel location to an agency.
      parameters:
        - $ref: "#/components/parameters/AgencyId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddLocationRequest"
      responses:
        "201":
          description: Location added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationResponse"
        "400":
          description: Invalid JSON or validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Agency not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Remove location
      operationId: removeAgencyLocation
      description: Remove a GoHighLevel location from an agency.
      parameters:
        - $ref: "#/components/parameters/AgencyId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveLocationRequest"
      responses:
        "200":
          description: Location removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Agency or location not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: "Admin API key as bearer token. Format: `Bearer YOUR_ADMIN_KEY`"
    AdminKeyQuery:
      type: apiKey
      in: query
      name: admin_key
      description: Alternative to the Authorization header for server-to-server scenarios.
  parameters:
    AgencyId:
      name: id
      in: path
      required: true
      description: Agency identifier.
      schema:
        type: string
  schemas:
    CreateAgencyRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Agency display name.
          example: Digital Growth Partners
        email:
          type: string
          format: email
          description: Primary contact email.
          example: admin@dgp-agency.com
        phone:
          type: string
          description: Contact phone number.
          example: "+1-212-555-0100"
        website:
          type: string
          format: uri
          description: Agency website URL.
          example: https://dgp-agency.com
        metadata:
          type: object
          description: Arbitrary JSON metadata.
    UpdateAgencyRequest:
      type: object
      description: Partial update — only include fields you want to change.
      properties:
        name:
          type: string
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          nullable: true
        website:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          nullable: true
    AddLocationRequest:
      type: object
      required:
        - ghl_location_id
      properties:
        ghl_location_id:
          type: string
          description: GoHighLevel location identifier.
          example: loc_5kN2mPqR
        label:
          type: string
          description: Human-readable label for the location.
          example: New York Office
    RemoveLocationRequest:
      type: object
      required:
        - ghl_location_id
      properties:
        ghl_location_id:
          type: string
          description: GoHighLevel location identifier to remove.
          example: loc_5kN2mPqR
    Agency:
      type: object
      properties:
        id:
          type: string
          example: agc_7kH3nPqR
        name:
          type: string
          example: Digital Growth Partners
        email:
          type: string
          nullable: true
          example: admin@dgp-agency.com
        phone:
          type: string
          nullable: true
        website:
          type: string
          nullable: true
        metadata:
          type: object
          nullable: true
        client_count:
          type: integer
          description: Number of client tenants managed by this agency.
          example: 15
        created_at:
          type: string
          format: date-time
          example: "2024-02-10T14:00:00.000Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-06-01T09:15:00.000Z"
    AgencyWithLocations:
      allOf:
        - $ref: "#/components/schemas/Agency"
        - type: object
          properties:
            locations:
              type: array
              items:
                $ref: "#/components/schemas/Location"
    Location:
      type: object
      properties:
        ghl_location_id:
          type: string
          example: loc_5kN2mPqR
        label:
          type: string
          nullable: true
          example: New York Office
        created_at:
          type: string
          format: date-time
          example: "2024-03-15T11:00:00.000Z"
    AgencyResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: "#/components/schemas/Agency"
    AgencyDetailResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: "#/components/schemas/AgencyWithLocations"
    AgencyListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: "#/components/schemas/Agency"
        count:
          type: integer
          example: 8
    LocationResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: "#/components/schemas/Location"
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        data:
          nullable: true
          example: null
        error:
          type: string
          example: Unauthorized
        count:
          type: integer
          example: 0
