openapi: "3.0.0"
info:
  version: 1.0.0
  title: Clients
  description: Create, list, retrieve, update, and delete Mythic Analytics client tenants.
servers:
  - url: https://api.mythic-analytics.com/api/v1
security:
  - BearerAuth: []
  - AdminKeyQuery: []
paths:
  /clients:
    post:
      summary: Create client
      operationId: createClient
      description: >
        Create a new client tenant. The API auto-generates `publishable_key`
        and `secret_key` credentials. Returns `409 Conflict` if a client with
        the same `id` already exists.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientRequest"
      responses:
        "201":
          description: Client created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
        "400":
          description: Invalid JSON, missing required fields, or validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflict — duplicate id, global_name, or domain
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: List clients
      operationId: listClients
      description: Retrieve a paginated list of clients with optional filtering.
      parameters:
        - name: status
          in: query
          description: Filter by active status. Pass `true` or `false`.
          required: false
          schema:
            type: string
            enum: ["true", "false"]
        - name: company_id
          in: query
          description: Filter by company identifier.
          required: false
          schema:
            type: string
        - name: search
          in: query
          description: Case-insensitive substring match on client name.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum results per page. Default `50`, max `500`.
          required: false
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: offset
          in: query
          description: Number of results to skip. Default `0`.
          required: false
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Paginated list of clients
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientListResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /clients/{id}:
    get:
      summary: Retrieve client
      operationId: getClient
      description: >
        Fetch a single client with its related tags, snippets, and transformers.
        Returns `404` if the client does not exist.
      parameters:
        - $ref: "#/components/parameters/ClientId"
      responses:
        "200":
          description: Client with related tags, snippets, and transformers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientDetailResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Client not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Update client
      operationId: updateClient
      description: >
        Partially update client fields. Only include the fields you want to
        change. Returns `400` if no valid fields are provided or validation
        fails. Returns `404` if client not found.
      parameters:
        - $ref: "#/components/parameters/ClientId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientRequest"
      responses:
        "200":
          description: Client updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
        "400":
          description: Invalid JSON, missing required fields, or validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Client not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete client
      operationId: deleteClient
      description: >
        Soft-delete by default (sets `status` to `false`). Pass `?hard=true`
        to permanently remove the client from the database and KV store.
        **Hard delete is irreversible.**
      parameters:
        - $ref: "#/components/parameters/ClientId"
        - name: hard
          in: query
          description: Set to `true` for permanent deletion. Default is soft delete.
          required: false
          schema:
            type: string
            enum: ["true", "false"]
      responses:
        "200":
          description: Client deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "401":
          description: Admin key missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Client not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: "Admin API key as bearer token. Format: `Bearer YOUR_ADMIN_KEY`"
    AdminKeyQuery:
      type: apiKey
      in: query
      name: admin_key
      description: Alternative to the Authorization header for server-to-server scenarios.
  parameters:
    ClientId:
      name: id
      in: path
      required: true
      description: Client identifier. Must match `^[a-zA-Z0-9_-]{1,255}$`.
      schema:
        type: string
        pattern: "^[a-zA-Z0-9_-]{1,255}$"
  schemas:
    CreateClientRequest:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          pattern: "^[a-zA-Z0-9_-]{1,255}$"
          description: Unique client identifier. Alphanumeric, hyphens, underscores.
          example: acme-retail
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Human-readable client name.
          example: Acme Retail
        status:
          type: boolean
          default: true
          description: Whether the client is active.
        domain:
          type: string
          description: Primary domain for embedded widgets.
          example: acme-retail.com
        email:
          type: string
          format: email
          description: Contact email.
          example: ops@acme-retail.com
        phone:
          type: string
          description: Contact phone number.
          example: "+1-415-555-0198"
        website:
          type: string
          format: uri
          description: Public website URL.
          example: https://acme-retail.com
        timezone:
          type: string
          description: IANA timezone identifier.
          example: America/Los_Angeles
        global_name:
          type: string
          description: JavaScript identifier for the SDK global variable.
          example: acmeRetail
        company_id:
          type: string
          description: Internal company or reseller identifier.
          example: cmp_7kH3nPqR
        agency_id:
          type: string
          description: Agency identifier for multi-tenant setups.
        api_metadata:
          type: object
          description: Arbitrary JSON metadata.
          example:
            plan: enterprise
            region: us-west
        ghl_location_id:
          type: string
          description: GoHighLevel location identifier.
        proxy_api_key:
          type: string
          description: Scoped API key for proxying traffic.
    UpdateClientRequest:
      type: object
      description: Partial update — only include fields you want to change.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        status:
          type: boolean
        domain:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          nullable: true
        website:
          type: string
          format: uri
          nullable: true
        timezone:
          type: string
        global_name:
          type: string
          nullable: true
        company_id:
          type: string
          nullable: true
        agency_id:
          type: string
          nullable: true
        api_metadata:
          type: object
          nullable: true
        ghl_location_id:
          type: string
          nullable: true
        proxy_api_key:
          type: string
          nullable: true
    Client:
      type: object
      properties:
        id:
          type: string
          example: acme-retail
        name:
          type: string
          example: Acme Retail
        status:
          type: boolean
          example: true
        publishable_key:
          type: string
          description: Client-side safe key (starts with `pk_`).
          example: pk_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        secret_key:
          type: string
          description: Backend-only secret key (starts with `sk_`).
          example: sk_f6e5d4c3b2a1f6e5d4c3b2a1f6e5d4c3
        domain:
          type: string
          nullable: true
          example: acme-retail.com
        email:
          type: string
          nullable: true
          example: ops@acme-retail.com
        phone:
          type: string
          nullable: true
        website:
          type: string
          nullable: true
        timezone:
          type: string
          nullable: true
          example: America/Los_Angeles
        global_name:
          type: string
          nullable: true
          example: acmeRetail
        company_id:
          type: string
          nullable: true
          example: cmp_7kH3nPqR
        agency_id:
          type: string
          nullable: true
        api_metadata:
          type: object
          nullable: true
        ghl_location_id:
          type: string
          nullable: true
        proxy_api_key:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          example: "2024-03-21T18:42:15.291Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-03-21T18:42:15.291Z"
    ClientWithRelations:
      allOf:
        - $ref: "#/components/schemas/Client"
        - type: object
          properties:
            tags:
              type: array
              items:
                type: object
                properties:
                  tag_id:
                    type: string
                    format: uuid
                  enabled:
                    type: boolean
                  params:
                    type: object
                  trigger_rules:
                    type: object
                    nullable: true
                  tags:
                    type: object
                    description: Resolved tag template details.
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      type:
                        type: string
                      src:
                        type: string
                        nullable: true
                      code:
                        type: string
                      description:
                        type: string
            snippets:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  code:
                    type: string
                  description:
                    type: string
                    nullable: true
                  enabled:
                    type: boolean
                  trigger_rules:
                    type: object
                    nullable: true
            transformers:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                  config:
                    type: object
                  priority:
                    type: integer
                  enabled:
                    type: boolean
    ClientResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: "#/components/schemas/Client"
    ClientDetailResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: "#/components/schemas/ClientWithRelations"
    ClientListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: "#/components/schemas/Client"
        count:
          type: integer
          description: Total number of matching resources.
          example: 2
    DeleteResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        deleted:
          type: boolean
          example: true
        hard:
          type: boolean
          description: "`true` if permanently deleted, `false` for soft delete."
          example: false
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        data:
          nullable: true
          example: null
        error:
          type: string
          example: Unauthorized
        count:
          type: integer
          example: 0
